@if (blow()) {

<ng-container>
  <mat-card class="incident-card">
    <mat-card-header>
      <mat-card-title
        ><h6>
          <strong>Jina la WhistleBlower: </strong>{{ blow().whistleblower }}
        </h6>
        <h6><strong>Namba ya Sima</strong> {{ blow().phone }}</h6>
        <h6><strong>Barua Pepe:</strong>{{ blow().email }}</h6>
      </mat-card-title>
      <mat-card-subtitle>
        <h6>
          <strong>Imeripotiwa Mnamo:</strong>
          {{ blow().createdAt | date : "short" }}
        </h6>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <h6><strong>Sehemu:</strong> {{ blow().location }}</h6>
      <h6><strong>Taarifa:</strong> {{ blow().taarifa }}</h6>
      <h6><strong>Taarifa ya Ziada:</strong> {{ blow().taarifa_ziada }}</h6>
      <h6><strong>Wahusika:</strong> {{ blow().wahusika }}</h6>
      <h6><strong>Kiambatanisho:</strong></h6>
      @if(blow().attachment){
      <div>
        <!-- Display Image (PNG, JPG) -->
        <img
          *ngIf="fileType === 'png' || fileType === 'jpg'"
          [src]="backendUrl"
          alt="Attachment"
          height="700px"
          width="600px"
        />

        <!-- Display PDF -->
        <object
          *ngIf="fileType === 'pdf'"
          [data]="backendUrl"
          type="application/pdf"
          width="100%"
          height="600px"
        >
          Your browser does not support PDFs.
        </object>
      </div>
      }
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="close()">
        <mat-icon>close</mat-icon> Close
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
}
