@if (blow()) {

<ng-container>
  <mat-card class="incident-card">
    <mat-card-header>
      <mat-card-title
        ><p>
          <strong>Name of WhistleBlower: </strong>{{ blow().whistleblower }}
        </p>
        <p><strong>Phone:</strong> {{ blow().phone }}</p>
        <p><strong>Email:</strong>{{ blow().email }}</p>
      </mat-card-title>
      <mat-card-subtitle>
        <p>
          <strong>Reported ON:</strong>
          {{ blow().createdAt | date : "short" }}
        </p>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p class="necessary-detail">
        <strong>Location:</strong> {{ blow().location }}
      </p>
      <p class="necessary-detail">
        <strong>Information:</strong> {{ blow().taarifa }}
      </p>
      <p><strong>Extra Information</strong> {{ blow().taarifa_ziada }}</p>
      <p><strong>Suspects:</strong> {{ blow().wahusika }}</p>
      <p><strong>Attachment:</strong></p>
      @if(blow().attachment){
      <div>
        <!-- Display Image (PNG, JPG) -->
        <img
          *ngIf="fileType === 'png' || fileType === 'jpg'"
          [src]="backendUrl"
          alt="Attachment"
          height="450px"
          width="450px"
        />

        <!-- Display PDF -->
        <object
          *ngIf="fileType === 'pdf'"
          [data]="backendUrl"
          type="application/pdf"
        >
          Your browser does not support PDFs.
        </object>
      </div>
      }
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="printPage()"
      >
        <mat-icon>print</mat-icon> Print
      </button>
      <button type="button" mat-raised-button color="primary" (click)="close()">
        <mat-icon>close</mat-icon> Close
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
}
