.new-incident-form {
  margin-top: 5px;
  // border: solid black 1px;
  display: grid;
  justify-content: center;
}
.new-incident-form form {
  width: 800px;
  // border: solid black 1px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}
mat-card-header {
  display: grid;
  justify-items: center;
}
#items-card {
  margin-top: 10px;
}
#buttons-card {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 15px;
}

// #add {
//   box-sizing: content-box;
// }
// #submit {
//   box-sizing: content-box;
// }
