<h3>Dashboard</h3>

<!-- Imported Contents -->
<div class="dashboard-container mat-elevation-z8">
  <mat-grid-list
    cols="1"
    rowHeight="250px"
    gutterSize="5px"
    *ngIf="isLargeScreen"
  >
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Incidents Overview</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @if(isBrowser){
          <ng-container>
            <canvas
              baseChart
              [data]="chartData"
              [options]="chartOptions"
              [type]="'bar'"
            >
            </canvas>
          </ng-container>
          }
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- Second Row: Three Equal Cards in a Row -->
  <mat-grid-list
    cols="3"
    rowHeight="1:1"
    gutterSize="8px"
    *ngIf="isLargeScreen"
  >
    <mat-grid-tile>
      <mat-card>
        @if(loadingState){
        <div class="mat-spinner">
          <mat-spinner [diameter]="25" [strokeWidth]="2"></mat-spinner>
        </div>
        }@else {
        <mat-card-header>
          <mat-card-title
            ><strong>Today and Weekly Updates</strong></mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <p>
            Today Incidents:
            <button mat-raised-button>
              {{ fetchedIncidentsCount$()?.today }}
            </button>
          </p>
          <p>
            Total this Week:
            <button mat-raised-button>
              {{ fetchedIncidentsCount$()?.thisWeek }}
            </button>
          </p>
        </mat-card-content>
        }
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        @if(loadingState){
        <div class="mat-spinner">
          <mat-spinner [diameter]="25" [strokeWidth]="2"></mat-spinner>
        </div>
        }@else {
        <mat-card-header>
          <mat-card-title><strong>Monthly Updates</strong></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Total this Month:
            <button mat-raised-button>
              {{ fetchedIncidentsCount$()?.thisMonth }}
            </button>
          </p>
          <p>Resolved Incidents: 0</p>
        </mat-card-content>
        }
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        @if(loadingState){
        <div class="mat-spinner">
          <mat-spinner [diameter]="25" [strokeWidth]="2"></mat-spinner>
        </div>
        }@else {
        <mat-card-header>
          <mat-card-title
            ><strong>Total Incidents Summary</strong></mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <p>
            AllTime Total:
            <button mat-raised-button>
              {{ fetchedIncidentsCount$()?.allTime }}
            </button>
          </p>
          <!-- <p>Warnings: 8</p> -->
        </mat-card-content>
        }
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="small-screen-cards" *ngIf="!isLargeScreen">
    <mat-card class="responsive-card">
      <mat-card-title>Incidents Overview</mat-card-title>
      <mat-card-content>
        @if(isBrowser){
        <ng-container>
          <canvas
            baseChart
            [data]="chartData"
            [options]="chartOptions"
            [type]="'bar'"
          >
          </canvas>
        </ng-container>
        }
      </mat-card-content>
    </mat-card>

    <mat-card class="responsive-card">
      @if(loadingState){
      <div class="mat-spinner">
        <mat-spinner [diameter]="25" [strokeWidth]="2"></mat-spinner>
      </div>
      }@else {
      <mat-card-header>
        <mat-card-title
          ><strong>Today and Weekly Updates</strong></mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <p>
          Today Incidents:
          <button mat-raised-button>
            {{ fetchedIncidentsCount$()?.today }}
          </button>
        </p>
        <p>
          Total this Week:
          <button mat-raised-button>
            {{ fetchedIncidentsCount$()?.thisWeek }}
          </button>
        </p>
      </mat-card-content>
      }
    </mat-card>

    <mat-card>
      @if(loadingState){
      <div class="mat-spinner">
        <mat-spinner [diameter]="25" [strokeWidth]="2"></mat-spinner>
      </div>
      }@else {
      <mat-card-header>
        <mat-card-title> <strong>Monthly Updates</strong></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Total this Month:
          <button mat-raised-button>
            {{ fetchedIncidentsCount$()?.thisMonth }}
          </button>
        </p>
        <p>Resolved Incidents: 0</p>
      </mat-card-content>
      }
    </mat-card>
    <mat-card>
      @if(loadingState){
      <div class="mat-spinner">
        <mat-spinner [diameter]="25" [strokeWidth]="2"></mat-spinner>
      </div>
      }@else {
      <mat-card-header>
        <mat-card-title
          ><strong>Total Incidents Summary</strong></mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <p>
          AllTime Total:
          <button mat-raised-button>
            {{ fetchedIncidentsCount$()?.allTime }}
          </button>
        </p>
        <!-- <p>Warnings: 8</p> -->
      </mat-card-content>
      }
    </mat-card>
  </div>
</div>

<!-- End of Imported Contents -->
